body{
    font-family: sans-serif;
}
.navbar{
    background-color: cornsilk;
}
.title{
    font-size: 1.75em;
    text-align: center;
    font-weight: bold;
    padding: 2rem  ;
}
.section{
    padding:2rem;
}

.card{
    background-color: pink;
    padding: 1rem;
    border: 1px solid black;  
    margin-bottom:1rem;
}
.section-title{
    font-size: 1.25em;
    font-weight: bold;
    padding:.5rem 1rem;
 }




